<div class="flex min-h-screen">
    <div class="grow flex justify-center items-center">
        <div class="self-center bg-white max-w-[423px] h-[500px] w-full shadow-lg"></div>

    </div>
    <div class="relative img-container flex flex-col items-center ">
        <div class="relative z-20 text-white w-6/12 py-14 text-sm">
            <div class="pb-4 font-bold text-lg">About SIAS</div>

            <p class="pb-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            </p>
            <div class="pt-10 pb-4 font-bold text-lg">Disclaimer</div>
            <p>DEMO BANK will NEVER ask you to reveal your User ID or Password. Therefore, never disclose your credentials
                (User ID, Password, OTP, PIN etc.) to anyone either through mail or over phone. If you receive any mail
                asking you to update or authenticate your User ID or Password, please DO NOT fall into the trap of putting
                in your Password or OTP or PIN.</p>
    
        </div>
        <img src="assets/login/bg.svg" alt="image" class="absolute top-0 max-h-screen object-cover w-full">
        <img src="assets/login/logo.png" alt="image" class="bg absolute right-0 object-cover logo z-10">
    </div>
</div>