<form [formGroup]="permissionForm" (ngSubmit)="onSubmit()">
    <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs" label="{{tab.tabName}}" formGroupName="{{tab.tabName}}" class="overflow-hidden">
            <table class="w-full text-sm text-left max-w-6xl mx-auto">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th ></th>
                        <th >
                            <mat-checkbox (change)="toggleLabelsForAllScreensInTab($event, tab)">
                            </mat-checkbox>
                            Select All
                        </th>
                        <th *ngFor="let label of labels; let i=index">
                            {{label.labelName}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let screen of tab.screens" formGroupName="{{screen.screenName}}" class="bg-white border-b">
                        <td class="text-left">
                            {{screen.screenName}}
                        </td>
                        <mat-checkbox formControlName="selectAll"
                            (change)="toggleLabelsForSelectedScreen($event, screen.screenName, tab.tabName)">
                            <div class="hidden">Select All</div>
                        </mat-checkbox>

                        <td *ngFor="let label of labels; let i=index" >
                            <mat-checkbox formControlName="{{label.labelName}}">
                                <div class="hidden">{{label.labelName}}</div>
                            </mat-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button mat-button class="blue-100" type="submit">Submit</button>
        </mat-tab>
    </mat-tab-group>
</form>